{{define "footer"}}

    <footer id="footer" class="dark" style="background: url('images/footer-bg.jpg') repeat fixed; background-size: 100% 100%;">
        <div class="container">
        
            <div class="footer-widgets-wrap">

                <div class="row col-mb-50"> 
                    <div class="col-md-12">
                        <div class="widget clearfix">

                            <img src="images/footer-widget-logo.png" alt="Image" class="alignleft-2" style="padding-right: 18px; border-right: 1px solid #FFFFFF66;">

                            <p style="font-size:15px; margin-top: 8px;">
                            Youth Congress Nepal is the movement to consolidate democracy. We believe in a politically liberal democracy, socially just and inclusive democracy, and we advocate for a well regulated and competitive economy. Our core principles are aligned with patriotism, progressiveness, freedom, and equity ensured by the Constitution of Nepal.
                            </p>

                            <div class="line line-sm"></div>

                            <div class="row col-mb-50">
                                

                                
                            </div>

                        </div>
                    </div>

                    
                </div>

            </div>
        </div>


        <div id="copyrights">
            <div class="container">

                <div class="row justify-content-between col-mb-30">
                    <div class="col-12 col-lg-auto text-center text-lg-left">
                        <div class="copyrights-menu copyright-links clearfix">
                            <a href="/">Home</a>/<a href="/about">About Youth Congress Nepal</a>/<a href="/faqs">FAQS</a>/<a href="/contact">Contact</a>
                        </div>
                        Copyrights &copy; 2024 All Rights Reserved by Youth Congress Nepal.
                    </div>

                    <div class="col-12 col-lg-auto text-center text-lg-right">
                        <a href="https://www.facebook.com/YouthCongressNepal/" target="_blank" class="social-icon inline-block si-small si-borderless mb-0 si-facebook">
                            <i class="icon-facebook"></i>
                            <i class="icon-facebook"></i>
                        </a>

                        <a href="https://www.twitter.com/YouthCongressNP/" target="_blank" class="social-icon inline-block si-small si-borderless mb-0 si-twitter">
                            <i class="icon-twitter"></i>
                            <i class="icon-twitter"></i>
                        </a>

                        <a href="https://www.instram.com/youthcongressnepal/" target="_blank" class="social-icon inline-block si-small si-borderless mb-0 si-instagram">
                            <i class="icon-instagram"></i>
                            <i class="icon-instagram"></i>
                        </a>

                        
                    </div>
                </div>

            </div>
        </div>
    </footer>

{{end}}