{{define "header"}}

    <header id="header" class="full-header">
        <div id="header-wrap">
            <div class="container">
                <div class="header-row">

                    
                    <div id="logo">
                        <a href="/" class="standard-logo" data-dark-logo="images/logo-dark.png"><img src="images/logo-dark.png" alt="Youth Congress Nepal"></a>
                        <a href="/" class="retina-logo" data-dark-logo="/images/logo-dark@2x.png"><img src="images/logo@2x.png" alt="Youth Congress Nepal"></a>
                    </div><!-- #logo end -->

                    <div class="header-misc">

                    </div>

                    <div id="primary-menu-trigger">
                        <svg class="svg-trigger" viewbox="0 0 100 100"><path d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path><path d="m 30,50 h 40"></path><path d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path></svg>
                    </div>

                    <nav class="primary-menu">

                        <ul class="menu-container">
                            
                                
                            <li class="menu-item">
                                <a class="menu-link" href="#"><div>Who we are</div></a>
                                    <ul class="sub-menu-container">
                                    <li class="menu-item">
                                        <a class="menu-link" href="/about"><div><i class="icon-book"></i>About Youth Congress Nepal</div></a>
                                        
                                    </li>

                                    <li class="menu-item">
                                        <a class="menu-link" href="#"><div><i class="icon-group"></i>Our Team</div></a>
                                        <ul class="sub-menu-container">
                                            <li class="menu-item">
                                                <a class="menu-link" href="/central-committee"><div>Central Committee</div></a>
                                            </li>

                                                                                
                                        </ul>
                                    </li>							
                            
                                    </ul>	
                            </li>
                            
                            
                            
                            <li class="menu-item">
                                <a class="menu-link" href="/faqs"><div>FAQs</div></a>
                            </li>
                            
                            
                            
                            <li class="menu-item">
                                <a class="menu-link" href="/contact"><div>Contact us</div></a>
                            </li>
                            
                            <li class="menu-item">
                            <a href="/registration" class="button button-border button-rounded button-fill fill-from-bottom button-red"><span>Join Youth Congress Nepal</span></a>
                            </li>
                            
                        
                            
                        </ul>

                    </nav>

                    </nav>

                    <form class="top-search-form" action="search.html" method="get">
                        <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter.." autocomplete="off">
                    </form>

                </div>
            </div>
        </div>
        <div class="header-wrap-clone"></div>
    </header>

{{end}}